.form-label {
  color: var(--black-color);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
}

input,
.input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  color: #000000;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  display: inline-flex;
  padding: 0px 20px;
  
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 10px;
}


input::placeholder,
.input::placeholder {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: normal;
}

input:focus-within,
input:focus-visible {
  outline: 0 !important;
  border: 1px solid var(--primary-color) !important
}




